@model EditStudentModel
@{
    ViewData["Title"] = "Edit";
}

        <  <section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Edit A Student</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Edit Student</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Edit Student</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form method="post" asp-controller="attendance" asp-action="Edit" asp-antiforgery="true">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />

                        <div class="card-body">
                            <div class="form-group row">
                                <label asp-for="Name">Student Name</label>
                                <input type="text" class="form-control" id="Name" asp-for="Name"
                                       placeholder="Student Name">

                            </div>
                            <div class="form-group">
                                <label asp-for="StudentRollNumber">Student roll number</label>
                                <input type="number" class="form-control" id="StudentRollNumber" placeholder="Student Roll Number"
                                       asp-for="StudentRollNumber">
                            </div>
                            

                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button type="submit" class="btn btn-info">Edit</button>
                            <a asp-action="Index" asp-controller="attendance"
                               class="btn btn-default float-right">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

