@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Ecommerce System.</p>
</div>
<button style="background-color:deepskyblue" class="btn btn-default float-right"
        onclick="document.location='admin/product/index'">
    ADMIN
</button>