@model ExportFileModel
@{
    ViewData["Title"] = "ExportFile";
}



@section Styles
{
    <link rel="stylesheet" href="/user/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
}

@section Scripts
{
    <script src="/user/plugins/datatables/jquery.dataTables.js"></script>
    <script src="/user/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
    @*<script>
        $(function () {

            $('#Contact').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": "/Admin/Gallery/GetContactData",

                "columnDefs": [
                    {
                        "orderable": false,
                        "targets": 3,
                        "render": function (data, type, row) {
                            return `<button type="submit" class="btn btn-info btn-sm" onclick="window.location.href='/admin/gallery/edit/${data}'" value='${data}'>
                                                        <i class="fas fa-pencil-alt">
                                                        </i>
                                                        Edit
                                                    </button>
                                                    <button type="submit" class="btn btn-danger btn-sm show-bs-modal" href="#" data-id='${data}' value='${data}'>
                                                        <i class="fas fa-trash">
                                                        </i>
                                                        Delete
                                                    </button>`;
                        }
                    }
                ]

            });
            $('#Contact').on('click', '.show-bs-modal', function (event) {
                var id = $(this).data("id");
                var modal = $("#modal-default");
                modal.find('.modal-body p').text('Are you sure you want to delete this record?')
                $("#deleteId").val(id);
                $("#deleteForm").attr("action", "/admin/gallery/delete")
                modal.modal('show');
            });
            $("#deleteButton").click(function () {
                $("#deleteForm").submit();
            });

        });
    </script>*@
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Exports File History</h1>
            </div>

        </div>
    </div><!-- /.container-fluid -->

    <div class="card w-75" style="background-color:grey; margin-bottom:0">
        <div class="card-body">
            <div style="display: flex;justify-content:center;">
                <div class="mt-4" style="display: flex; ">

                    <div class="form-group">
                        <label for="datefrom" style="margin-left:-20px">Date From </label>
                        <input class="form-control" id="datefrom" name="defaultInputDate" type="date" value="1970-01-01" style="margin-left:-20px" />
                    </div>
                    <div class="form-group">
                        <label for="dateTo" style="margin-left:-10px">Date To</label>
                        <input class="form-control" id="dateTo" name="defaultInputDate" type="date" value="1970-01-01" style="margin-left:-10px" />
                    </div>
                    <div>

                        <a href="#" class="btn btn-primary " style="color: white;background-color: #343a40;border-radius:15px; border-color:black; margin-top:30px; ">search</a>
                    </div>

                </div>

            </div>


        </div>
    </div>

</section>
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header" style="color: white;background-color: #343a40">
                        <h3 class="card-title">List</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="Contact" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    @{
                                        foreach (var item in Model.Headers)
                                        {
                                            <th>@item</th>
                                        }
                                    }
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model.Items)
                                {
                                <tr>
                                    @foreach (var i in item)
                                    {
                                        <td>@i</td>
                                    }
                                </tr>
                                }
                            </tbody>

                        </table>

                        <partial name="_deletePartial" />
                    </div>
                    <!-- /.card-body -->
                </div>

            </div>
            <!-- /.row -->
        </div>
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
<!-- /.content-wrapper -->
<div class="card-footer">
    <div class="col-md-6">
        <a asp-action="DownloadFile" asp-controller="DataImporter" class="btn btn-primary"
           style="color: white;background-color: #343a40;border-color:black">
            Download
        </a>
    </div>

    <a asp-action="Index" asp-controller="DataImporter"
       class="btn btn-default float-right" style="color: white;background-color: #343a40">Send to Email</a>
</div>