
@{
    ViewData["Title"] = "ExportFileHistory";
}
@section Styles
{
    <link rel="stylesheet" href="/user/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
}

@section Scripts
{
    <script src="/user/plugins/datatables/jquery.dataTables.js"></script>
    <script src="/user/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
    <script>
        $(function () {

            $('#History').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": "/DataImporter/GetExporttHistoryData",

            });


        });
    </script>
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Exports File History</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
    
</section>
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header" style="color: white;background-color: #343a40">
                        <h3 class="card-title">List</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="History" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Group Name</th>
                                    <th>Email Status</th>
                                    <th>Download </th>
                                    <th>Exports Date</th>
                                </tr>
                            </thead>
                        </table>

                        <partial name="_deletePartial" />
                    </div>
                    <!-- /.card-body -->
                </div>

            </div>
            <!-- /.row -->
        </div>
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
<!-- /.content-wrapper -->
