
@{
    ViewData["Title"] = "ExportFile";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid" style="align-self: center">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Export A File</h1>
            </div>

        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header" style="color: white; background-color: #343a40">
                        <h3 class="card-title">Export  File</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form>
                        <div class="card-body">
                            <div class="col-sm-6">
                                <!-- select -->
                                <div class="form-group">
                                    <label>Select a group</label>
                                    <select class="custom-select">
                                        <option>Group 1</option>
                                        <option>Group 2</option>
                                        <option>Group 3</option>
                                        <option>Group 4</option>
                                        <option>Group 5</option>
                                    </select>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="col-sm-6">
                                    <!-- select -->
                                    <div class="form-group">
                                        <label>Select a file</label>
                                        <select class="custom-select">
                                            <option>FILE 1</option>
                                            <option>FILE 2</option>
                                            <option>FILE 3</option>
                                            <option>FILE 4</option>
                                            <option>FILE 5</option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary" style="color: white;background-color: #343a40">Download</button>
                                <a asp-action="Index" asp-controller="DataImporter"
                                   class="btn btn-default float-right" style="color: white;background-color: #343a40">Cancel</a>
                            </div>
</form>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</section>

