
@{
    ViewData["Title"] = "ImportFile";
}

@model FilePathModel
@{
    ViewData["Title"] = "ImportFile";
}


<form method="post" enctype="multipart/form-data">

    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="card-body" type="file">

        <input  type="file" id="file" name="file">
        
    </div>
    <!-- /.card-body -->

    <div class="card-footer">
        <button type="submit"  class="btn btn-primary" style="color: white;background-color: #343a40;border-color:black">Upload</button>
    </div>
</form>

