
@section UserStyles {
    <link rel="stylesheet" href="~/css/User.css">
}
<!-- Main content -->
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /> <br /> <br /><br />
<div class="dashbord-header">
    <h1 style="">Data Importer</h1>
</div>

<div class="row" style=" margin-top: 255px; margin-right: 20px;margin-left: 20px">

    <div class="col-12 col-md-4">
        <div class="info-box" style=" background-color: #998b76">
            <span class="info-box-icon bg-info elevation-1">
                <i class="fas fa-address-book icon-items" ></i>
            </span>

            <div class="info-box-content">
                <span class="info-box-text">Total Contacts</span>
                <span class="info-box-number">
                    10
                    
                </span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-12 col-md-4" >
        <div class="info-box mb-3" style=" background-color: #998b76">
            <span class="info-box-icon bg-danger elevation-1" >
                <i class="fas fa-file-export icon-items"></i>
            </span>

            <div class="info-box-content">
                <span class="info-box-text">Total Exports</span>
                <span class="info-box-number">41,410</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <!-- fix for small devices only -->
    <div class="clearfix hidden-md-up"></div>

    <div class="col-12 col-md-4">
        <div class="info-box mb-3" style=" background-color: #998b76">
            <span class="info-box-icon bg-success elevation-1">
                <i class="fas fa-upload icon-items" ></i>
            </span>

            <div class="info-box-content">
                <span class="info-box-text">Total Imports</span>
                <span class="info-box-number">760</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <!-- /.col -->
</div>
<!-- Info boxes -->






@section Scripts
{ <!-- ChartJS -->
    <script src="/user/plugins/chart.js/Chart.min.js"></script>
}