
@{
    ViewData["Title"] = "UploadFile";
}

<form method="post" enctype="multipart/form-data">


    <div asp-validation-summary="All" class="container-fluid">
        <div class="card-header">
            <h3 class="card-title">Upload File</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->

        <div class="card-body">
            <div class="form-group">
                <label for="file">File input</label>
                <div class="input-group">
                    <div class="custom-file" type="file">
                        <input class="custom-file-label" type="file" id="file" name="file" required accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
                        <label class="custom-file-label" id="file" for="file">Choose file</label>
                    </div>

                </div>
            </div>

        </div>


        <!-- /.card-body -->

        <div class="col-md-6">
            <a asp-action="UploadFile" asp-controller="DataImporter" class="btn btn-primary">
                Import To Database
            </a>
        </div>

    </div>

</form>


