
@{
    ViewData["Title"] = "UploadHistory";
}



@section Styles
{
    <link rel="stylesheet" href="/user/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
}

@section Scripts
{
    <script src="/user/plugins/datatables/jquery.dataTables.js"></script>
    <script src="/user/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
    <script>
        $(function () {

            $('#History').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax":"/DataImporter/GetImportHistoryData",



            });


        });
    </script>
}


<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Imported File History</h1>
            </div>

        </div>
    </div><!-- /.container-fluid -->
    <div class="card w-75" style="background-color:grey; margin-bottom:0">
        <div class="card-body">
            <div style="display: flex;justify-content:center;">
                <div class="mt-4" style="display: flex; ">

                    <div class="form-group">
                        <label for="datefrom" style="margin-left:-20px">Date From </label>
                        <input class="form-control" id="datefrom" name="defaultInputDate" type="date" value="1970-01-01" style="margin-left:-20px" />
                    </div>
                    <div class="form-group">
                        <label for="dateTo" style="margin-left:-10px">Date To</label>
                        <input class="form-control" id="dateTo" name="defaultInputDate" type="date" value="1970-01-01" style="margin-left:-10px" />
                    </div>
                    <div>

                        <a href="#" class="btn btn-primary " style="color: white;background-color: #343a40;border-radius:15px; border-color:black; margin-top:30px; ">search</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header" style="color: white;background-color: #343a40">
                        <h3 class="card-title">History</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="History" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>File Name</th>
                                    <th>Imports Date</th>
                                    <th>Group Name</th>

                                </tr>
                            </thead>


                        </table>


                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <!-- /.card -->
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
<!-- /.content-wrapper -->
