@model ConfirmFile
@{
    ViewData["Title"] = "ViewContacts";
}




<form asp-action="ViewContacts" asp-controller="DataImporter" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="file" />
    <input type="hidden" asp-for="GroupId" />
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        @{
                            foreach (var item in Model.headers)
                            {
                                <th>@item</th>
                            }
                        }
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.cont)
                    {
                        <tr>

                            @foreach (var v in item.Value)
                            {
                                <td>@v.Value</td>
                            }


                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-6">

        <div class="form-group">

            <button type="submit" class="btn btn-success" style="color: white;background-color: #343a40;border-color:black">Upload</button>

        </div>
    </div>
</form>

    
@*@if (ViewBag != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.ValueMatch")
            }
        </script>
    }*@

