@model List<DataImporter.Info.Business_Object.Contact>
@{
    ViewData["Title"] = "ViewContacts";
}





<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <td style="color:white">Name</td>
                    <td style="color:white">Address</td>
                    <td style="color:white">GroupId</td>
                </tr>
            </thead>
            <tbody>
                @{
                    if (Model.Count > 0)
                    {
                        @foreach (var user in Model)
                        {
                            <tr>

                                <td style="color:white">@user.Name</td>
                                <td style="color:white">@user.Address</td>
                                <td style="color:white">@user.GroupId</td>

                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<div class="col-md-6">
    <form asp-action="UploadHistory" asp-controller="DataImporter" method="post" enctype="multipart/form-data">
        <div class="form-group">

            <button type="submit" class="btn btn-success" style="color: white;background-color: #343a40;border-color:black">Upload</button>

        </div>
    </form>

</div>

